{% extends "vstup/univer/base.html" %}

{% block title %}Employee Records{% endblock title %}

{% block content %}
 <div class="col-md-12">
        <span><a href="/addnew" class="btn btn-primary">Add New Record</a></span>
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID</th>
            <th>Name</th>
            <th>enName</th>
            <th>shortName</th>
            <th>educationTypeName</th>
            <th>financingTypeName</th>
            <th>location</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for univer in univerlist %}
            <tr>
            <td><input type="checkbox" class="checkthis" /></td>
            <td>{{ univer.id }}</td>
            <td>{{ univer.name }}</td>
            <td>{{ univer.enName }}</td>
            <td>{{ univer.shortName }}</td>
            <td>{{ univer.educationTypeName }}</td>
            <td>{{ univer.financingTypeName }}</td>
            <td>{{ univer.location }}</td>

            <td><a href="/univer/update/{{ univer.id }}" class="btn btn-primary">Edit</a></td>
            <td><a href="/deleteuniver/{{ univer.id }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}