{% extends "vstup/base.html" %}
<head>
{% load static %}
</head>

{% block content %}
<!-- Карусель -->
<div class="container">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="{% static 'images/w1.png' %}" style="height: 200px;" class="d-block  w-100 " alt="image">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-black">Загальні завдання</h2>
        <h3 class="text-white">{{rab1}}</h3>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/w2.png' %}" style="height: 200px;" class="d-block  w-100 " alt="image">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-black">Підготовка кадрів</h2>
        <h3 class="text-white">{{rab2}}</h3>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/w3.png' %}" style="height: 200px;" class="d-block  w-100 " alt="image">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-black">Облік</h2>
        <h3 class="text-white">{{rab3}}</h3>
      </div>
    </div>

    <div class="carousel-item">
      <img src="{% static 'images/w4.png' %}" style="height: 200px;" class="d-block  w-100 " alt="image">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-black">Попрати - пофарбувати</h2>
        <h3 class="text-black">{{rab4}}</h3>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Попередній</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Наступний</span>
  </button>
</div>
</div>
<!-- Закінчилася каруселя -->

  <div class="container-fluid">
      <h4 class="text-center">{{ text_head }}</h4>
      <div class="row my-2 text-center">
          <div class="col-5"></div>
          <div class="col-1 text-center">
            <img src="{% static 'images/sun.jpg' %}">
          </div>
          <div class="col-5"></div>
      </div>

      <div class="row my-2 text-primary text-center">
          <h3>{{ name }}</h3>
      </div>

    <div class="row my-2 text-white text-start">
        <div class="col mx-2 my-2 bg-primary">{{rab1}}</div>
        <div class="col mx-2 my-2 bg-primary">{{rab2}}</div>
        <div class="col mx-2 my-2 bg-primary">{{rab3}}</div>
        <div class="col mx-2 my-2 bg-primary">{{rab4}}</div>
    </div>
  </div>

<div class="row my-2 text-center">

 <!-- пусті колонки зліва від акордеону-->
 <div class="col-2"></div>

  <!-- 8 колонок з акордеоном -->
  <div class="col-8 text-start">

      <!-- Аккордеон -->
      <div class="accordion" id="accordionExample">
          <!-- Аккордеон елемент 1-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                Загальні завдання
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Працюємо</strong> як бджілки, бо Сучасний світу нерозривно пов’язаний з розвитком інформаційних технологій.
У сучасних умовах війни, стрімкого зростання впливу науки та технологій, необхідності забезпечення економічної, технологічної, інформаційної безпеки та розвитку держави завдання підготовки наукових кадрів є надзвичайно актуальним.
Інформаційні системи управління освітою (Education Management Information System (EMIS) дають змогу посадовцям вчасно отримувати достовірну інформаціюта на її основі здійснювати ухвалення рішень.
Зважаючи на це, вимоги до формування інформаційних систем у сфері освіти є дуже високими, адже неякісна освітня інформація може мати далекосяжні негативні наслідки, серед яких ухвалення невірних управлінських рішень
            </div>
            </div>
          </div>
          <!-- Акордеон елемент 2-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                Підготовка кадрів
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Підготовка наукових та науково-педагогічних кадрів</strong> Вступна компанія до аспірантури ЗВО – це процес, в якому беруть участь вступники, співробітники відділу аспірантури та предметні екзаменаційні комісії по прийому вступних випробувань до аспірантури.
До вступних випробувань для здобуття ступеня доктора філософії допускаються особи, які подали всі необхідні для вступу документи відповідно до встановлених строків [15].
Вступні випробування для здобуття ступеня доктора філософії в КПІ  ім. Ігоря Сікорського проводяться відповідно до Положення про вступні випробування до КПІ ім. Ігоря Сікорського на конкурсный основі.
Конкурсний відбір проводиться на основі конкурсного бала, який розраховується відповідно до Порядку прийому на навчання для здобуття вищої освіти на поточний рік та Правил прийому до аспірантури.

            </div>
            </div>
          </div>
          <!-- Акордеон елемент 3-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                Облік
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Ведення обліків аспірантів</strong> Використання інформаційних технологій минулого тисячоліття, відсутність сучасної багатокористувацької інформаційної системи, основаної на базі даних, зумовлює дублювання інформації, помилки при обробці даних та формуванні документів, нераціональне використання робочого часу, високу трудомісткість операцій, що виконуються співробітниками відділу аспірантури.
З метою підвищення ефективності діяльності відділу аспірантури за рахунок автоматизації, зменшення часу виконання робіт співробітниками відділу, уникнення помилок у процесах прийому, обробки даних та формування документів щодо вступу до аспірантури розроблений веб-сервіс “Вступ”, який у подальшому як модуль увійде до складу інформаційної системи “Підготовка здобувачів вищої освіти ступеня доктора філософії”.
            </div>
          </div>
          <!-- Акордеон елемент 4-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseThree">
                Роботи на замовлення
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Інші роботи на замовлення</strong> Виходячи з обраного для реалізації фреймворка Django для розробки Web-сервісу “Вступ” буде використано мову програмування Python.
Ця мова відноситься до найбільш популярних, використовується в ультрасучасних технологіях, технологічному стеку багатьох компаній, включаючи Google, має дуже розвинену бібліотеку PyPI та забезпечує розробку з використанням фреймворка Django.

            </div>
          </div>
      </div>
      <!-- Акордеон фініш-->
  </div>

 </div>
 <!-- пусті колонки справа від акордеону-->
 <div class="col-2"></div>

</div>
{% endblock %}
