{% extends "vstup/base.html" %}
{% load static %}


{% block content %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

<div class="pageholder">
<!--    <div class="titleholder">-->
<!--        <a class="ourbutton mr-2 ml-2" href="">Головна</a>-->
<!--        <div class="title"><i class="fa-solid fa-table"></i> Вступники</div>-->
<!--    </div>-->

    <div class="linkholder">
        <table id="entrantDataTable" class="myTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По-батькові</th>
                <th>Телефон</th>
                <th>Email</th>
                <th>Command</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#entrantDataTable').DataTable({
            "ajax": {
                "processing": true,
                "url": "{% url 'entrants_json' %}",
                "dataSrc": "",
            },
            select: true,
            "columns": [
                {"data": "id", defaultContent: '', "visible": false},
                {"data": "last_name"},
                {"data": "name"},
                {"data": "patronymic"},
                {"data": "phone"},
                {"data": "email"},
                {"data": null},
            ],
            columnDefs: [
                {
                    targets: -1,
                    render: function (data, type, row) {
                        console.log(data)
                        let c_edit = '<td><a href="/entrant/update/' + data.id + '" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a></td>';
                        let c_del = ""
                        // let c_del = '<td><a href="/entrant/update/' + data.id + '" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>'
                        return c_edit + c_del;
                    },
                }
            ]
        });
    });
</script>

{% endblock %}