{% extends "vstup/base.html" %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<h2>Вступники, що потребують додаткових іспитів</h2>
<div class="pageholder">
    <div class="linkholder">
        <table id="entrantDataTable" class="myTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По-батькові</th>
                <th>Спеціальність</th>
                <th>Кафедра</th>
                <th>Іспит</th>
                <th>Command</th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('#entrantDataTable').DataTable({
            "ajax": {
                "processing": true,
                "url": "{% url 'entrants_addtest_json' %}",
                "dataSrc": "",
            },
            select: true,
            "columns": [
                {"data": "id", defaultContent: '', "visible": false},
                {"data": "last_name"},
                {"data": "name"},
                {"data": "patronymic"},
                {"data": "specialty__code"},
                {"data": "department__shortName"},
                {"data": "additional_tests"},
                {"data": null},
            ],
            columnDefs: [
                {
                    targets: 6,  // Index of the "Іспит" column
                    render: function (data, type, row) {
                        let additionalTestsIcon = row.additional_tests ? '<i class="fas fa-check"></i>' : '';
                        return additionalTestsIcon;
                    },
                },
                {
                    targets: -1,
                    render: function (data, type, row) {
                        let c_edit = '<td><a href="/entrant_addtest_edit/' + data.id + '" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a></td>';
                        let c_del = "";
                        return c_edit + c_del;
                    },
                }
            ]
        });
    });
</script>

{% endblock %}